<?xml version="1.0"?>
<!--
/**
 * @author CleverSoft Team
 * @copyright Copyright (c) 2016 CleverSoft
 * @package CleverSoft_CleverLayeredNavigation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="clevershopby_attribute_plugin" type="\CleverSoft\CleverLayeredNavigation\Plugin\AttributePlugin" sortOrder="1"/>
    </type>
</config>
